<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="UnitTestLoginPage.Properties.Settings.MSSQLConnection"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Lenovo\Desktop\Classes\COMP4220\Assignment\xyBookstoreDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
		<add name="BookStoreLIB.Properties.Settings.MSSQLConnection"
            connectionString="Data Source=tfs.cs.uwindsor.ca;Initial Catalog=Agile2DB24;Persist Security Info=True;User ID=Agile2DB24;Password=Agile2DB24#;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
